In [4]:
import pandas as pd
import time

In [50]:
results = {}

for row in range(len(weights)):
    start_time = time.time()
    c_n = list(weights.loc[row])
    b_n = list(gain.loc[row])
    capacity = 700

    total_rewards = [(c_n[i] * b_n[i], c_n[i], b_n[i]) for i in range(len(c_n))]
    
    # Sort by the total reward in descending order
    total_rewards.sort(reverse=True, key=lambda x: x[0])
    
    total_weight = 0
    total_reward = 0
    selected_crates = []
    
    for reward, weight, unit_reward in total_rewards:
        if total_weight + weight <= capacity:
            total_weight += weight
            total_reward += reward
            selected_crates.append(c_n.index(weight))

    end_time = time.time()
    delta_time = end_time - start_time

    results[row + 1] = {
        # 'Selected Crates': selected_crates,
        'Total Weight': total_weight,
        'Total Reward': total_reward,
        'Execution Time': delta_time
    }

pd.DataFrame(results).T

               Selected Crates Total Weight Total Reward Execution Time
1        [3, 4, 0, 5, 7, 8, 2]        688.0    1098137.0            0.0
2        [5, 0, 9, 3, 6, 8, 2]        640.0    1069306.0            0.0
3           [8, 6, 3, 0, 2, 4]        647.0    1108769.0            0.0
4        [4, 8, 5, 2, 9, 0, 7]        645.0    1104584.0            0.0
5        [1, 3, 8, 6, 5, 0, 7]        672.0     938679.0            0.0
6        [0, 2, 1, 3, 6, 2, 4]        655.0    1033689.0            0.0
7       [2, 10, 1, 6, 5, 4, 8]        681.0    1017247.0            0.0
8       [4, 1, 5, 2, 4, 10, 3]        697.0    1185279.0            0.0
9    [6, 8, 7, 2, 12, 0, 4, 9]        683.0    1095340.0            0.0
10      [3, 4, 9, 10, 8, 0, 2]        648.0    1105442.0            0.0
11     [6, 10, 5, 8, 7, 11, 2]        700.0    1176193.0            0.0
12     [1, 2, 8, 0, 5, 10, 12]        675.0    1072898.0            0.0
13    [0, 10, 3, 1, 14, 2, 11]        686.0    1132362.0            0.0
14      [5, 3, 2, 10, 4, 9, 3]        649.0    1110425.0            0.0
15     [2, 9, 3, 10, 13, 4, 0]        694.0    1140922.0            0.0
16    [10, 10, 12, 1, 0, 4, 3]        680.0    1167004.0            0.0
17    [10, 14, 11, 4, 0, 2, 8]        691.0    1172389.0            0.0
18         [2, 12, 4, 8, 4, 1]        635.0     926372.0            0.0
19      [4, 16, 1, 7, 3, 0, 2]        656.0    1176987.0            0.0
20     [9, 11, 4, 13, 6, 5, 2]        693.0    1089585.0            0.0
21      [1, 7, 12, 5, 4, 9, 3]        659.0    1105515.0       0.007516
22       [4, 12, 14, 6, 13, 0]        643.0     978936.0            0.0
23    [13, 4, 16, 4, 1, 0, 12]        697.0    1164308.0            0.0
24  [5, 11, 3, 1, 14, 2, 9, 0]        650.0    1156323.0            0.0
25    [16, 11, 6, 14, 9, 0, 2]        698.0    1211735.0       0.001337
26        [1, 2, 3, 15, 4, 10]        659.0    1128678.0            0.0
27   [9, 16, 11, 5, 1, 10, 12]        694.0    1238616.0            0.0
28       [4, 14, 4, 2, 13, 11]        667.0    1130364.0            0.0
29         [0, 9, 11, 1, 5, 3]        664.0    1131015.0       0.001392