RentCar está desarrollando una política de reemplazo para su flotilla de automóviles en
un horizonte de planeaci ́on de 4 años. Al inicio de cada a ̃no, un automóvil se reemplaza o
se conserva en operación durante un año más. Un automóvil debe estar en servicio de 1 a 3
años. La siguiente tabla proporciona el costo de reemplazo como una función del año en que
se adquiere un automóvil y los años en operación.

In [110]:
import pandas as pd
import numpy as np

In [111]:
costs = {0: [4000, 5400, 9800], 1: [4300, 6200, 8700], 2: [4800, 7100, np.nan], 3: [4900, np.nan, np.nan]}
columns = [1, 2, 3]

actions = [
    (start_year, start_year + columns[end_year], cost)
    for start_year, cost_list in costs.items()
    for end_year, cost in enumerate(cost_list)
    if not pd.isnull(cost)
]

actions = pd.DataFrame(actions, columns=['start_year', 'end_year', 'cost'])
actions.head()

   start_year  end_year  cost
0           0         1  4000
1           0         2  5400
2           0         3  9800
3           1         2  4300
4           1         3  6200

In [112]:
n_ants = 2  # Número de hormigas
n_iterations = 100  # Número de iteraciones
alpha = 1.0  # Importancia de las feromonas
beta = 1.0  # Importancia de la heurística
evaporation_rate = 0.1  # Tasa de evaporación de las feromonas
pheromone_init = 0.1  # Valor inicial de feromonas

In [113]:
# Iteracion 1
actions['convenience'] = 1 / actions['cost']
actions['pheromone_level'] = pheromone_init

start_years = actions['start_year'].unique()
grouped_actions = actions.groupby('start_year')

actions['proportion'] = grouped_actions['convenience'].transform(lambda x: x * actions['pheromone_level'])
actions['total'] = grouped_actions['proportion'].transform('sum')
actions['probability'] = actions['proportion'] / actions['total']
actions['cumulative'] = grouped_actions['probability'].transform('cumsum')

In [114]:
actions

,start_year,end_year,cost,convenience,pheromone_level,proportion,total,probability,cumulative
0,0,1,4000,0.000250,0.1,0.000025,0.000054,0.465353,0.465353
1,0,2,5400,0.000185,0.1,0.000019,0.000054,0.344706,0.810060
2,0,3,9800,0.000102,0.1,0.000010,0.000054,0.189940,1.000000
3,1,2,4300,0.000233,0.1,0.000023,0.000051,0.457080,0.457080
4,1,3,6200,0.000161,0.1,0.000016,0.000051,0.317007,0.774087
5,1,4,8700,0.000115,0.1,0.000011,0.000051,0.225913,1.000000
6,2,3,4800,0.000208,0.1,0.000021,0.000035,0.596639,0.596639
7,2,4,7100,0.000141,0.1,0.000014,0.000035,0.403361,1.000000
8,3,4,4900,0.000204,0.1,0.000020,0.000020,1.000000,1.000000

In [116]:
# Hormiga 1
year = 0

while True:
    available_actions = actions[actions['start_year'] == year]
    if available_actions.empty:
        break

    rand_num = np.random.rand()
    next_year = available_actions[available_actions['cumulative'] >= rand_num]['end_year'].values[0]
    print((year, next_year))
    
    year = next_year

(0, 3)
(3, 4)